map $http_apikey $api_client_name {
    default "";

    "${api_gateway_key}" "client_admin";
}

server {
    listen 80;
    
    location = /favicon.ico {
        log_not_found off;
    }


    location /api/v1/hotels/health {
        proxy_pass ${hotels_service_url_internal}/health;
    }

    location /api/v1/hotels {
        if ($request_method != GET) {
            rewrite ^/api/v1/hotels(/.*)?$ /_api/v1/hotels$1 last;
        }
        proxy_pass ${hotels_service_url_internal}/hotels;
    }
    
    location /_api/v1/hotels {
        internal;
        auth_request /_validate_apikey;
        proxy_pass ${hotels_service_url_internal}/hotels;
    }

    location /api/v1/hotels/filter {
        proxy_pass ${hotels_service_url_internal}/hotels/filter;
    }

    location /api/v1/rooms/filter {
        proxy_pass ${hotels_service_url_internal}/rooms/filter;
    }


    location /api/v1/bookings/health {
        proxy_pass ${bookings_service_url_internal}/health;
    }

    location /api/v1/bookings {
        if ($request_method != GET) {
            rewrite ^/api/v1/bookings(/.*)?$ /_api/v1/bookings$1 last;
        }
        proxy_pass ${bookings_service_url_internal}/bookings;
    }
    
    location /_api/v1/bookings {
        internal;
        auth_request /_validate_apikey;
        proxy_pass ${bookings_service_url_internal}/bookings;
    }


    location /api/v1/users/health {
        proxy_pass ${users_service_url_internal}/health;
    }

    location /api/v1/get_token {
        proxy_pass ${users_service_url_internal}/get_token;
    }

    location /api/v1/users {
        proxy_pass ${users_service_url_internal}/users;
    }

    location /api/v1/subscriptions {
        proxy_pass ${users_service_url_internal}/subscriptions;
    }

}
